services:
    flask-app:
        depends_on:
            - redis
        build:
            context: ./backend
            target: production
        environment:
            - FLASK_ENV=production
        deploy:
            replicas: 2
        networks:
            - frontend
            - backend
        image: flask-app:prod
    nginx:
        depends_on:
            - flask-app
        build:
            context: ./one-billion-pixels-website
            target: production
        ports:
            - 8000:80
        networks:
            - frontend
        image: nginx:prod
    redis:
        image: 'redis:alpine'
        networks:
            - backend
        container_name: redis-prod

    redisinsight:
        image: 'redislabs/redisinsight:latest'
        ports:
            - 5540:5540
        networks:
            - backend
        container_name: redis-insight-prod
networks:
    frontend:
    backend:
