services:
    #website:
    #    depends_on:
    #        - flask_app
    #    build: ./one-billion-pixels-website
    #    ports:
    #        - 5173:5173
    #    volumes:
    #        - ./one-billion-pixels-website:/one-billion-pixels-website
    flask-app:
        depends_on:
            - redis
        build:
            context: ./backend
            target: development
        volumes:
            - ./backend/app:/app
        environment:
            - FLASK_ENV=development
        deploy:
            replicas: 1

    website:
        depends_on:
            - flask-app
        build:
            context: ./one-billion-pixels-website
            target: development
        ports:
            - 5173:8000
        volumes:
            - ./one-billion-pixels-website:/app
    redis:
        image: 'redis:alpine'

    redisinsight:
        image: 'redislabs/redisinsight:latest'
        ports:
            - 5540:5540
