services:
    traefik:
        image: traefik:v3.1
        command:
            - '--api.insecure=true'
            - '--providers.docker=true'
            - '--providers.docker.exposedbydefault=false'
            - '--entrypoints.web.address=:80'
        ports:
            # The Web UI (enabled by --api.insecure=true)
            - '9876:80'
            - '9000:8080'
        volumes:
            # So that Traefik can listen to Docker events
            - /var/run/docker.sock:/var/run/docker.sock
    go-server:
        depends_on:
            - traefik
            - redis
        build:
            context: ./backend
            target: development
        volumes:
            - ./backend/app:/app
        labels:
            - 'traefik.enable=true'
            - 'traefik.http.routers.go-server.rule=Host(`${DOMAIN_NAME}`) && PathPrefix(`/api`)'
            - 'traefik.http.middlewares.go-server-strip-api-prefix.stripprefix.prefixes=/api'
            - 'traefik.http.routers.go-server.middlewares=go-server-strip-api-prefix'
            - 'traefik.http.services.go-server.loadbalancer.server.port=5000'
            - 'traefik.http.routers.go-server-socket.rule=Host(`${DOMAIN_NAME}`) && PathPrefix(`/ws`)'
    website:
        depends_on:
            - traefik
            - go-server
        build:
            context: ./website
            target: development
        volumes:
            - ./website:/app
        labels:
            - 'traefik.enable=true'
            - 'traefik.http.routers.website.rule=Host(`${DOMAIN_NAME}`)'
            - 'traefik.http.services.website.loadbalancer.server.port=8000'
    redis:
        image: 'redis:alpine'
        command:
            - '--save 60 1'
        ports:
            - 6379:6379
        volumes:
            - redis-data:/data

    redisinsight:
        image: 'redislabs/redisinsight:latest'
        ports:
            - 5540:5540

volumes:
    redis-data:
