:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#clicker-canvas {
    margin: auto;
    display: block; /* To prevent zoom-pan wrapper div from having excess height (bc of lineheight of canvas being added when (default) display: inline) */
    image-rendering: pixelated;
}

#screen-frame {
    position: absolute;
    width: 400px;
    height: 225px;
    margin: auto;
    border: 10px solid black;
    pointer-events: none;
}

#color-picker {
    position: absolute;
    bottom: 10%;
    width: fit-content;
    max-width: 50%;
    height: fit-content;
    background-color: teal;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.color-choice {
    border: 1px solid transparent;
}

.color-choice:hover {
    cursor: pointer;
}

.color-choice.active {
    border: 1px solid red;
}

#set-pixel-btn {
    position: absolute;
    right: 10%;
    bottom: 10%;
}

#reticle {
    position: absolute;
    top: 50%;
    width: 1px;
    height: 1px;
    background-color: black;
}

#app {
    max-width: 1280px;
    margin: 0;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
