:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* For preventing default pinch zooming on mobile devices - 
    Not sure whether this is the optimal (or any, at all) fix, look into it */
    touch-action: none;
}

body {
    margin: 0;
    overflow: hidden;
}

.prevent-transition-before-pageload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

#canvas-default-offset-wrapper {
    width: fit-content;
}

#canvas-reticle-wrapper {
    display: grid;
}

#clicker-canvas {
    display: block; /* To prevent zoom-pan wrapper div from having excess height (bc of lineheight of canvas being added when (default) display: inline) */
    image-rendering: pixelated;
    grid-column: 1;
    grid-row: 1;
}

#screen-frame {
    position: absolute;
    top: 120px;
    left: 80px;
    width: 500px;
    height: 500px;
    margin: auto;
    outline: 5px solid black;
    pointer-events: none;
}

#initiate-place-pixel-wrapper {
    position: fixed;
    left: 50%;
    bottom: 3em;
    transform: translate(-50%);
}

#initiate-place-pixel {
    position: relative;
    width: 200px;
    height: fit-content;
    padding: 5px;
    background-color: orangered;
}

/* TODO: Maybe make this respect screenFrame */
#place-pixel-wrapper {
    transition-duration: 300ms;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0%;
    transform: translate(0px, 100%);
    background-color: rgb(222, 222, 222);
    width: 100%;
    min-height: 10%;
    justify-content: center;
    align-items: center;
}

#place-pixel-text {
    margin: 0px;
}
#place-pixel-coords-text {
    margin: 0px;
    font-size: 0.7em;
}

#place-pixel-wrapper #abort-confirm-wrapper {
    /*background-color: #9fbb3b;*/
    margin-bottom: 15px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
}

#color-picker {
    margin: 10px;
    width: fit-content;
    max-width: 80%;
    height: fit-content;
    /*background-color: teal;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.color-choice {
    border: 2px solid black;
}

.color-choice:hover {
    cursor: pointer;
}

.color-choice.active {
    border: 2px solid orangered;
}

#set-pixel-btn {
    position: absolute;
    right: 10%;
    bottom: 10%;
}

#reticle-wrapper {
    pointer-events: none;
    width: fit-content;
    grid-column: 1;
    grid-row: 1;
    width: 1px;
    height: 1px;
}

#reticle {
    width: 20px;
    height: 20px;
    outline: 2px solid black;
    outline-offset: -1px;
    transform-origin: top left;
    scale: 0.05;

    /* Only show edges of outline by cutting */
    --cross: 75% 0, 25% 0%, 25% 25%, 0% 25%, 0% 75%, 25% 75%, 25% 100%, 75% 100%,
        75% 75%, 100% 75%, 100% 25%, 75% 25%, 75% 0;

    clip-path: polygon(
        0px 0px,
        20px 0px,
        20px 20px,
        0px 20px,
        0px 0px,
        var(--cross)
    );
}

/* Second (inner) outline */
#reticle:before {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    outline: 1px solid white;
    outline-offset: -2px;
    position: absolute;
}

#crosshair {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #535bf2;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
}

#crosshair-horizontal-bar {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: rebeccapurple;
}

#crosshair-vertical-bar {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rebeccapurple;
}

#zoom-slider-wrapper {
    position: absolute;
    left: 10%;
    bottom: 4em;
    display: flex;
    flex-direction: column;
}

#zoom-slider-label {
    mix-blend-mode: difference;
}

.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    outline: none; /* Remove outline */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
    background-color: transparent;
    border: 1px solid rgb(50, 50, 50);
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #b7bebc; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    border-radius: 0px;
    border: 0px;
    height: 100%; /* Slider handle height */
    width: auto;
    aspect-ratio: 1;
    background: #b7bebc; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

button {
    width: 4em;
    height: 2em;
    font-size: 1.5em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    border: 2px solid black;
}

button:hover {
    background-color: lightgray;
    transition-duration: 100ms;
}

.checkmark {
    display: inline-block;
    transform: rotate(45deg);
    height: 25px;
    width: 12px;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
}

.cross {
    position: relative;
    margin: auto;
    width: 32px;
    height: 32px;
}
/* TODO: this isn't perfectly centered */
.cross:before,
.cross:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: #333;
}
.cross:before {
    transform: rotate(45deg);
}
.cross:after {
    transform: rotate(-45deg);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

/* Test whether user's primary input mechanism can hover
-> Cannot hover on (mobile) devices with touchscreen */
@media (hover: none) {
    #zoom-slider-wrapper {
        display: none;
    }
}
